@model WebSIC.Models.PessoaViewModel

<div class="modal-dialog" style="margin-left: 490px !important;">
    <div class="modal-content" style="width: 782px !important;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Tirar foto</h4>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                @using (Html.BeginForm())
                {
                        <div class="container">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <div id="Camera"></div>
                                    <div class="checkbox">
                                        <input type="button" value="Capturar imagem" onclick="webcam.capture();" class="btn btn-primary" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div id="resizer-demo">
                                        <img id="show" style="width: 320px; height: 240px;" src="@Url.Content("~/WebImages/person.jpg")" />
                                    </div>
                                    <div class="checkbox">
                                        <input id="Submit1" type="button" onclick="UploadSubmit(@Model.IdPessoa);" value="Salvar"  class="btn btn-primary"/>
                                    </div>
                                </div>
                            </div>
                    </div>
                }
            </div>
        </div>
        <div class="modal-footer">
            @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Salvar" class="btn btn-priamary" />
                </div>
            </div>*@
        </div>

    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
@*<script src="@Url.Content("~/Scripts/jquery.webcam.js")"></script>
    <script src="@Url.Content("~/Scripts/app.js")"></script>*@

<script>

    $(document).ready(function () {
        Load();
    });

</script>
